<div class="container menu-wrap">
    <h3 class="menu-wrap__title title title_margin">Menu</h3>
    <div class="menu-icons">
        <a id="menu-link" class="menu-icons__link menu-icons__link_all" href="/#menu"></a>
        <a id="dishes" class="menu-icons__link menu-icons__link_dishes" href="/#menu/dishes"></a>
        <a id="soups" class="menu-icons__link menu-icons__link_soups" href="/#menu/soups"></a>
        <a id="salads" class="menu-icons__link menu-icons__link_salads" href="/#menu/salads"></a>
        <a id="desserts" class="menu-icons__link menu-icons__link_desserts" href="/#menu/desserts"></a>
        <a id="beverages" class="menu-icons__link menu-icons__link_beverages" href="/#menu/beverages"></a>
    </div>
    <div class="sorts">
        <div class="sorts-info">
            <span class="sorts-info__text">default</span>
        <i class="sorts-info__icon fa fa-chevron-down" aria-hidden="true"></i>
        </div>
        <ul class="sorts-list">
            <li class="sorts-list__item">from cheap to expensive</li>
            <li class="sorts-list__item">from expensive to cheap</li>
        </ul>
    </div>
    <div class="products">
        {{#each menu}}
            <div id="{{category}}" class="product">
                <img class="product__img" src="{{img}}" alt="Food">
                <div class="product-info">
                    <h4 class="product-info__title">{{name}}</h4>
                    <p class="product-info__text">{{ingredients}}</p>
                    <span class="product-info__text-price">{{price}}</span>
                </div>
            </div>
        {{/each}}
    </div>
</div>